@model Models.CheckoutInfoModel
<div style="font-size: 20px; color: black ;">
    <div>
        Номер телефона: @Model.Model.Phone
        @if(!string.IsNullOrEmpty(Model.Model.Name))
        {
            <div>
                Имя: @Model.Model.Name
            </div>
        }
        @if(@Model.Model.Delivery==Enums.DeliveryType.Pickup){
            <div>
                Самовывоз
            </div>
        }else{
            <div>
                Доставка
                @if(!string.IsNullOrEmpty(Model.Model.DeliveryPlace))
                {
                    <div>
                        Место куда доставлять: @Model.Model.DeliveryPlace
                    </div>
                }
                @if(!string.IsNullOrEmpty(Model.Model.Instructions))
                {
                    <div>
                        Инструкции: @Model.Model.Instructions
                    </div>
                }
            </div>
        }
    </div>
    <ul>
        @foreach (var item in Model.Products)
        {
        <li>
            @($"{item.Amount.ToString()}X") @item.Product.Name @(item.Amount * item.Product.Cost) грн.
        </li>
        }
    </ul>
    <div>
        @{double totalSum = Model.Products.Sum(x=>x.Product.Cost * x.Amount);}
        Заказ на сумму: @totalSum грн.
        <br>
        @if(Model.Promocode!=null)
        {
            <div>
                Был использован промокод: @Model.Promocode.Code
            </div>
            <div>
                Цена со скидкой (@Model.Promocode.Discount%): @(totalSum-(totalSum/100 * Model.Promocode.Discount)) грн.
            </div>
        }
    </div>
</div>