@model Models.UpdateProductModel
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/product.css"/>        
    </head>
    <body>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <form method="post"  enctype="multipart/form-data" class="form-group" style="width: 50%;">
            <input type="text" class="form-control" name="Name" placeholder="Введите название" value="@Model.Name">
            <span asp-validation-for="Name"></span>
            <br>
            <input value="@Model.Cost" type="number" class="form-control" name="Cost" placeholder="Введите цену">
            <span asp-validation-for="Cost"></span>
            <br>
            <input value="@Model.Description" type="text" class="form-control" name="Description" placeholder="Введите описание">
            <span asp-validation-for="Description"></span>
            <br>
            <input value="@Model.Excerpt" type="number" class="form-control" name="Excerpt" placeholder="Введите вес">
            <span asp-validation-for="Excerpt"></span>
            <br>
            <input type="file" name="File">
            <input value="@Model.UrlPhoto" type="text" name="UrlPhoto" placeholder="Введите url">
            @Html.Hidden("Id", Model.Id)
            <br>
            <br>
            <select name="IdCategory" class="form-control"autocomplete="off">
                <option value="0">--Выберите--</option>
                @foreach (var item in ViewBag.Categories)
                {
                    <option value="@item.Id" selected="@(item.Id==Model.IdCategory)" >@item.Name</option>
                }
            </select>
            <br>
            <input type="submit">
        </form>
    </body>
</html>


