@model Models.ViewOrdersModel
<!DOCTYPE html>
<html>
    <head>
               
    </head>
    <body>
       <div class="table-responsive">
            <table class="table-dark table">
                <tr>
                    <th>ID</th>
                    <th>Номер телефона</th>
                    <th>Тип доставки</th>
                    <th>Подробней</th>
                </tr>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Phone</td>
                        <td>@(item.Delivery==Enums.DeliveryType.Delivery? "Доставка" : "Самовывоз")</td>
                        <td><a href="~/adminpanelOrders/order?id=@item.Id">Подробней</a></td>
                    </tr>
                }
            </table>
            
        </div>
        <div >
            <ul class="pagination">
                <li class="page-item @(Model.Page.PageNumber==1? "disabled": "")">
                    <a class="page-link" href="/AdminPanelOrders/orders?page=@(Model.Page.PageNumber-1)">Prev</a>
                </li>
                @foreach (var item in Enumerable.Range(1, Model.Page.TotalPages))
                {
                    <li class="page-item @(item==Model.Page.PageNumber? "active" : "")">
                        <a class="page-link" href="/AdminPanelOrders/orders?page=@item">@item</a>
                    </li>
                }
                <li class="page-item @(Model.Page.PageNumber==@Model.Page.TotalPages? "disabled": "")" >
                    <a class="page-link" href="/AdminPanelOrders/orders?page=@(Model.Page.PageNumber+1)">Next</a>
                </li>
            </ul>
        </div>
           
    </body>
</html>